<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Sublished</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let post of posts">
			<td>{{post.id}}</td>
			<td>{{post.title}}</td>
			<td>{{post.slug}}</td>
			<td>{{post.published}}</td>
			<td>{{post.author?.name}}</td>
			<td>
				<button (click)="deleteAuthor(post)" class="pure-button button-error"> Delete</button>
				<button [routerLink]="['/post', post.id]" class="pure-button button-warning">Edit</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>

<button [routerLink]="['/post']" class="ml-50 pure-button button-secondary"> new</button>