<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let author of authors">
			<td>{{author.id}}</td>
			<td>{{author.name}}</td>
			<td>
				<button (click)="deleteAuthor(author)" class="pure-button button-error"> Delete</button>
				<button [routerLink]="['/author', author.id]" class="pure-button button-warning">Edit</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>

<button [routerLink]="['/author']" class="ml-50 pure-button button-secondary"> new</button>